.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding: 0;
}

.pageButton {
  min-width: 32px;
  margin: 0 4px;
  padding: 4px 6px;
  font-weight: 300;
  border: 1px solid var(--light);
  color: var(--light);

  &:hover:not(.active) {
    color: var(--additional);
    border-color: var(--additional);
  }
}

.active {
  font-weight: 700;
  color: var(--main);
  border: 2px solid var(--main);
}
