* {
  box-sizing: border-box;
}

:root {
  --main: #226677;
  --danger: #992233;
  --success: #289932;
  --white: #ffffff;
  --light: #f6f6fa;
  --dark-dim: rgba(0, 0, 0, 0.5);
  --light-dim: rgba(0, 0, 0, 0.1);
}

html,
body {
  height: 100%;
  margin: 0;
}

#root {
  background-image: radial-gradient(ellipse at 20% 40%, var(--light) 20%, var(--white) 30%,var(--white) 40%, var(--light) 90%);
}

.App {
  max-width: 800px;
  margin: 0 auto;
  padding: 30px 0;
}

.main-heading {
}

.post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  padding: 15px;
  border: 2px solid var(--main);
  border-radius: 10px;
  box-shadow: 1px 8px 10px var(--light-dim);

  &__title,
  &__text,
  &__date {
    margin: 0;
  }

  &__title,
  &__text {
    margin-bottom: 8px;
  }

  &__date {
    font-style: italic;
    font-size: 14px;
  }

  &__form {
    display: flex;
    padding-bottom: 30px;
    border-bottom: 1px solid var(--dark-dim);
  }

  &__input {
    margin-right: 16px;
  }
}

.sorting {
  &__select {
    margin-left: 10px;
  }
}
