*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --main: #236277;
  --additional: #4ac56a;
  --danger: #992233;
  --light-danger: #df9f9d;
  --success: #289932;
  --white: #ffffff;
  --light: #f6f6fa;
  --dark-dim: rgba(0, 0, 0, 0.5);
  --dim: rgba(0, 0, 0, 0.3);
  --light-dim: rgba(0, 0, 0, 0.1);
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  overflow: scroll;
  overflow-x: hidden;
}

#root {
  min-height: -webkit-fill-available;
  background-image: radial-gradient(ellipse at 20% 40%, var(--light) 20%, var(--white) 30%,var(--white) 40%, var(--light) 90%);
}

.App {
  max-width: 800px;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 30px;
}

.main-heading {
}

.post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  padding: 15px;
  border: 2px solid var(--main);
  border-radius: 10px;
  box-shadow: 1px 8px 10px var(--light-dim);

  &__title,
  &__text,
  &__date {
    margin: 0;
  }

  &__title,
  &__text {
    margin-bottom: 8px;
    padding-right: 15px;
    word-break: break-word;
  }

  &__date {
    font-style: italic;
    font-size: 14px;
  }

  &__form {
    display: flex;
    padding-bottom: 30px;
    border-bottom: 1px solid var(--dark-dim);
  }

  &__input {
    margin-right: 16px;
  }
}

.filters {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  &__sorting {
    margin-right: auto;
    margin-left: 10px;
  }
}

.modal-enter {
  opacity: 0;
}
.modal-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}

.modal-content-enter {
  transform: translateY(-10vh);
}
.modal-content-enter-active {
  transform: none;
  transition: transform 300ms;
}

.post-enter {
  opacity: 0;
  transform: translateY(-100%);
}
.post-enter-active {
  opacity: 1;
  transform: none;
  transition-property: opacity, transform;
  transition-duration: 700ms, 250ms;
}
.post-exit {
  opacity: 1;
  transform: none;
}
.post-exit-active {
  opacity: 0;
  transform: rotateX(90deg) scaleX(1.5);
  transition-property: opacity, transform;
  transition-duration: 500ms, 250ms;
}
