* {
  box-sizing: border-box;
}

:root {
  --danger: #992233;
  --main: #229988;
  --light-dim: rgba(0, 0, 0, 0.1);
  --light: #fcfcfc;
}

html,
body {
  height: 100%;
  margin: 0;
}

.App {
  max-width: 800px;
  margin: 0 auto;
}

.post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  padding: 15px;
  border: 2px solid var(--main);
  border-radius: 10px;
  box-shadow: 1px 8px 10px var(--light-dim);
}

.post__title,
.post__text {
  margin: 0;
}

.post__title {
  margin-bottom: 8px;
}

.post__remove-button {
  padding: 5px 8px;
  font-weight: 700;
  font-size: 14px;
  color: var(--danger);
  background: none;
  border: 2px solid var(--danger);
  border-radius: 5px;
  cursor: pointer;
  transition-property: background-color, color;
  transition-duration: 0.3s;
}

.post__remove-button:hover {
  color: var(--light);
  background-color: var(--danger);
}
