.button {
  padding: 5px 8px;
  font-weight: 700;
  font-size: 14px;
  background: none;
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
  cursor: pointer;
  transition-property: background-color, color, border-color;
  transition-duration: 0.3s;
}

.danger {
  color: var(--danger);
  border-color: var(--danger);

  &:hover {
    color: var(--light);
    background-color: var(--danger);
  }
}

.success {
  color: var(--success);
  border-color: var(--success);

  &:hover {
    color: var(--light);
    background-color: var(--success);
  }
}

.button:disabled {
  color: var(--dark-dim);
  background: none;
  border-color: var(--dark-dim);
  cursor: auto;
}

.close {
  width: 22px;
  height: 22px;
  border-color: var(--light-danger);
  border-radius: 6px;

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12px;
    border: 1px solid var(--light-danger);
    transition: border-color 0.3s;
  }

  &::before {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  &:hover,
  &:hover::before,
  &:hover::after, {
    border-color: var(--danger);
  }
}
